<div class="navbar">
  <%= link_to "Todolist", root_path, class: 'navbar-brand' %>
  <div class="navbar-right">
    <% if user_signed_in? %>
      <%= link_to 'Nova lista de tarefas', new_task_list_path, class: "navbar-item navbar-link" %>
      <%= link_to 'Dashboard', users_path, class: "navbar-item navbar-link" %>
      <%= link_to 'Favoritos', favorited_task_lists_path, class: "navbar-item navbar-link" %>
      <%= link_to 'Sair', destroy_user_session_path, method: :delete, class: "navbar-item navbar-link" %>
    <% else %>
      <%= link_to 'Registrar-se', new_user_registration_path, class: "navbar-item navbar-link" %>
      <%= link_to 'Entrar', new_user_session_path, class: "navbar-item navbar-link" %>
    <% end %>
  </div>
</div>
