<div class="col-xs-12 col-sm-6 col-md-3">
  <%= link_to task_list_path(task_list), class: 'task-list-card-link' do %>
    <div class="task-list-card">
      <div class="task-list-title text-center">
        <%= task_list.title %>
      </div>
      <div class="task-list-stats">
        <ul class="list-unstyled">
          <li>
            <%= task_list.tasks.count %> tarefas
          </li>
          <li>
            <%= task_list.tasks.where(status: 'done').count %> tarefas completas
          </li>
        </ul>
      </div>
    </div>
  <% end %>
  <div class="task-list-footer">
    <div class="favorited_task_list-box">
      <%= link_to '<i class="glyphicon glyphicon-heart" aria-hidden="true" style="font-size: 20px;" ></i>'.html_safe, task_list_favorited_task_lists_path(task_list), remote: true, id: "favorited_task_list#{task_list.id}", class: "#{'favorited'if current_user.favorited?(task_list)}"  %>
    </div>
  </div>
</div>
