<div class="container text-center">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="form-container">
        <h3>Lista de tarefas</h3>
        <%= form_for @task_list do |f| %>
          <div class="field task-list-title">
            <%= f.text_field :title, placeholder: 'Título da lista de tarefas', class: 'form-control' %>
          </div>

          <div class="field task-list-content">
            <div class="public">
              <%= f.radio_button :status, "open" %>
              <%= f.label :status, "Pública", value: "open"  %>
            </div>
            <br>
            <div class="private">
              <%= f.radio_button :status, "closed", checked: true %>
              <%= f.label :status, "Privada", value: "closed" %>
            </div>
          </div>

          <div class="fields">
            <%= f.fields_for :tasks do |t| %>
              <%#= render 'task', f: t %>
            <% end %>
          </div>

          <div class="actions">
            <%= link_to_add_row('Adicionar tarefa', f, :tasks, class: 'btn btn-primary margin-btn btn-block') %>
            <%= f.submit class: 'btn btn-block btn-primary' %>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</div>
