<div class="grey-wrapper">
  <div class="container">
    <h1 class="text-center">Listas de tarefas públicas</h1>
    <div class="row">
      <% @task_lists.each do |task_list| %>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <%= link_to task_list_path(task_list), class: 'task-list-card-link' do %>
            <div class="task-list-card">
              <div class="task-list-title text-center">
                <%= task_list.title %>
              </div>
              <div class="task-list-stats">
                <ul class="list-unstyled">
                  <li>
                    <%= task_list.tasks.count %> tarefas
                  </li>
                  <li>
                    <%= task_list.tasks.where(status: 'done').count %> tarefas completas
                  </li>
                </ul>
              </div>
            </div>
          <% end %>
          <div class="task-list-footer">
            <%= form_for @favorited_task_list do |f| %>
              <%= f.hidden_field :task_list_id, value: task_list.id %>
              <%= f.submit do %>
                <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
