<div class="container">

  <div class="task-list-header text-center">
    <h1>
      <%= @task_list.title %>
      <%= @task_list.edit %>
      <div class="favorited_task_list">
        <%= link_to '<i class="glyphicon glyphicon-heart" aria-hidden="true" style="font-size: 35px;" ></i>'.html_safe, task_list_favorited_task_lists_path(@task_list), remote: true, id: "favorited_task_list#{@task_list.id}", class: "#{'favorited'if current_user.favorited?(@task_list)}"  %>
      </div>
    </h1>
  </div>
  <div class="row">
    <% @task_list.tasks.each do |task| %>
      <div class="col-md-6 col-md-offset-3">
        <div class="task">
          <div class="task-title">
            <p><%= task.title %></p>
            <p><%= task.subtasks.count %></p>
          </div>
          <div class="task-links">
            <%= task.status %>
            <%= render @task_list.task_links, task: task %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
