<div class="container">
  <div class="task-list-header text-center">
    <h1>
      <%= @task_list.title %>
      <%= link_to '<span class="glyphicon glyphicon-edit" style="font-size: 30px;"></span>'.html_safe, edit_task_list_path(@task_list) if @task_list.user == @current_user %>
      <%= link_to '<span class="glyphicon glyphicon-plus" style="font-size: 30px;"></span>'.html_safe, edit_task_list_path(@task_list) if @task_list.user == @current_user %>
      <%= link_to '<span class="glyphicon glyphicon-trash" style="font-size: 30px;"></span>'.html_safe, task_list_path(@task_list), method: :delete if @task_list.user == @current_user %>
      <span class="favorited_task_list">
        <%= link_to '<i class="glyphicon glyphicon-heart" aria-hidden="true" style="font-size: 35px;" ></i>'.html_safe, task_list_favorited_task_lists_path(@task_list), remote: true, id: "favorited_task_list#{@task_list.id}", class: "#{'favorited' if current_user.favorited?(@task_list)}" %>
      </span>
    </h1>
  </div>
  <div class="tasks-wrapper">
    <div class="row">
      <% @task_list.tasks.each do |task| %>
        <div class="col-md-6 col-md-offset-3">
          <div class="task-wrapper">
            <div class="task <%= 'task-done' if task.done? %>">
              <div class="task-title">
                <p><%= task.title %></p>
              </div>
              <div class="task-links">
                <%= (render @task_list.task_links(task), task: task) if @task_list.user == current_user %>
              </div>
            </div>
            <% task.subtasks.each do |subtask| %>
              <div class="subtask <%= 'subtask-done' if subtask.done? %>">
                <div class="task-title">
                  <p><%= subtask.title %></p>
                </div>
                <div class="subtask-links">
                  <%= (render @task_list.subtask_links(subtask), subtask: subtask) if @task_list.user == current_user %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
